extends layout.pug

block content

  article.portfolio-intro

  
    h1 My Portfolio

   
    p This website was created by me, Manuel Becerra. Displayed are my accomplishments and projects I have worked on as a programmer. These projects display Manuel's experience with different technologies and versatility in developing different products for different desires.


  article.portfolio-project-thumbs
    .projects-box.box.grid

     
      each project in projects

        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5=project.project_name

